body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input, select, button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* filtreleme sekmes, */
#filter-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#filter-category, #filter-priority {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

/* Dark Mode  */
body.dark-mode {
    background-color: #333;
    color: white;
}

body.dark-mode .container {
    background-color: #444;
}

body.dark-mode input, body.dark-mode select, body.dark-mode button {
    background-color: #666;
    color: white;
    border: 1px solid #555;
}

body.dark-mode li {
    background-color: #555;
    border: 1px solid #444;
}
